# env
.env
.env.*
packages/frontend/.env
packages/functions/.env

# node
node_modules/
dist/

# supabase local
.supabase/

# Supabase CLI
supabase/.temp/

# coverage
coverage/

# OS
.DS_Store

# logs
*.log

.windsurf/